*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgb(78, 17, 119), rgb(192, 176, 37));
    background-image: url('sunset.jpg');
}
.calculator-keys {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.calculator-keys > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgb(80, 75, 75);
    outline: none;
    background-color: grey;
    border-radius: 25px;
}
.calculator-keys > button:hover {
    background-color: rgb(71, 69, 65);
}
.span-two {
    grid-column: span 2;
}
.calculator-output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.616);
    border-radius: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.calculator-output .previous-operand {
    color: rgb(190, 181, 45);
    font-size: 1.5rem;    
}
.calculator-output .current-operand {
    color: rgb(245, 208, 87);
    font-size: 2.5rem;
}
